openapi: 3.0.0
info:
  title: selfreliance-external-api
  version: '1.0'
servers:
  - url: 'https://api.self-reliance.sr/v1'
paths:
  /external/invoices:
    get:
      summary: Get invoices
      tags:
        - invoices
      operationId: get-external-invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    items:
                      - id: 0
                        timestamp: string
                        orderID: 0
                        prolongationID: 0
                        amount: string
                        currency: string
                        fileID: string
                        exportID: 0
                        isExported: 0
                        file:
                          id: string
                          extension: string
                          fileName: string
                          relationModel: string
                          relationID: 0
                          isPublic: 0
                          isDeleted: 0
                          size: 0
                          timestamp: string
                        fileURL: string
                    _links:
                      self:
                        href: string
                      first:
                        href: string
                      last:
                        href: string
                      next:
                        href: string
                    _meta:
                      totalCount: 0
                      pageCount: 0
                      currentPage: 0
                      perPage: 0
                properties:
                  items:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        timestamp:
                          type: string
                          minLength: 1
                        orderID:
                          type: integer
                        prolongationID:
                          type: integer
                        amount:
                          type: number
                        currency:
                          type: string
                          minLength: 1
                        fileID:
                          type: string
                          minLength: 1
                        exportID:
                          type: integer
                        isExported:
                          type: integer
                        file:
                          type: object
                          properties:
                            id:
                              type: string
                              minLength: 1
                            extension:
                              type: string
                              minLength: 1
                            fileName:
                              type: string
                              minLength: 1
                            relationModel:
                              type: string
                              minLength: 1
                            relationID:
                              type: integer
                            isPublic:
                              type: integer
                            isDeleted:
                              type: integer
                            size:
                              type: integer
                            timestamp:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - extension
                            - fileName
                            - relationModel
                            - relationID
                            - isPublic
                            - isDeleted
                            - size
                            - timestamp
                        fileURL:
                          type: string
                          minLength: 1
                      required:
                        - id
                        - timestamp
                        - orderID
                        - prolongationID
                        - amount
                        - currency
                        - fileID
                        - exportID
                        - isExported
                        - fileURL
                  _links:
                    type: object
                    required:
                      - self
                      - first
                      - last
                      - next
                    properties:
                      self:
                        type: object
                        required:
                          - href
                        properties:
                          href:
                            type: string
                            minLength: 1
                      first:
                        type: object
                        required:
                          - href
                        properties:
                          href:
                            type: string
                            minLength: 1
                      last:
                        type: object
                        required:
                          - href
                        properties:
                          href:
                            type: string
                            minLength: 1
                      next:
                        type: object
                        required:
                          - href
                        properties:
                          href:
                            type: string
                            minLength: 1
                  _meta:
                    type: object
                    required:
                      - totalCount
                      - pageCount
                      - currentPage
                      - perPage
                    properties:
                      totalCount:
                        type: integer
                      pageCount:
                        type: integer
                      currentPage:
                        type: integer
                      perPage:
                        type: integer
                required:
                  - items
                  - _links
                  - _meta
              examples:
                Example:
                  value:
                    items:
                      - id: 0
                        timestamp: string
                        orderID: 0
                        prolongationID: 0
                        amount: string
                        currency: string
                        fileID: string
                        exportID: 0
                        isExported: 0
                        file:
                          id: string
                          extension: string
                          fileName: string
                          relationModel: string
                          relationID: 0
                          isPublic: 0
                          isDeleted: 0
                          size: 0
                          timestamp: string
                        fileURL: string
                    _links:
                      self:
                        href: string
                      first:
                        href: string
                      last:
                        href: string
                      next:
                        href: string
                    _meta:
                      totalCount: 0
                      pageCount: 0
                      currentPage: 0
                      perPage: 0
  '/external/invoices/{invoiceID}/mark':
    parameters:
      - schema:
          type: string
        name: invoiceID
        in: path
        required: true
    post:
      summary: Mark invoice as processed
      operationId: post-external-invoices-invoiceID-mark
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
      tags:
        - invoices
components:
  schemas: {}
  securitySchemes:
    APIKey:
      name: x-api-key
      type: apiKey
      in: header
security:
  - APIKey: []
